@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


body, .MuiTypography-headline-209, .MuiTypography-title-210, .MuiTypography-title-194{
  font-family: 'Playfair Display', serif !important;
}
.MuiTypography-headline-193{
  font-family: 'Abril Fatface' !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.filterAge{
  max-width: 5%;
}

.mdc-checkbox{
  text-align: left;
  margin:1em 0 1em 1.2em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
